@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/monokai.min.css");

/* https://cdnjs.com/libraries/highlight.js */

html {
  font-family: monospace;
}

pre code {
  margin-left: -10px;
  margin-right: -6px;
}
@media (min-width: 768px){
  pre code {
    /* font-size: 1.25rem; Adjust the font size for code */
    margin: initial;
    border-radius: 0.5rem; /* Rounded corners for the code block */
  }
}

details[open] {
  /* solarized light */
  /* background-color: #fdf6e3; */
  padding: 1rem;
  border-radius: 0.5rem; /* Rounded corners for the code block */
}

summary {
  cursor: pointer;
  outline: none; /* Remove outline for a cleaner look */
}
summary:hover {
  text-decoration: underline; /* Optional: add a hover effect */
}

details[open].counter-example-content {
  background-color: #e39494;
}

details[open].wisdom-content {
  background-color: #e3e6fd;
}
